.body {
    display: flex;
}

.Header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'roboto', sans-serif;
    color: #f9faf8;
}
.Hero{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    gap:calc(100px);
    justify-content: center;
}

.hero-image{
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9faf8;
    font-family: 'roboto', sans-serif;
    font-weight: 900px;
}




